@use 'base/variables' as v;

.footer{
    background-color: v.$rosa;
    padding: 2rem 0;
    
    p{
        text-align: center;
        margin: 0;
        color: v.$blanco;
        font-weight: 600 ;
    }
}